{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Collector</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class="navbar-brand">&nbsp;&nbsp;Home</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/finches">View All Finches</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container-xl d-flex mx-4 flex-column align-items-center">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="page-footer bg-dark text-white text-center mt-5 py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    All Rights Reserved, &copy; 2022 Finches Collection
                </div>
            </div>
        </div>
    </footer>
</body>
</html>