body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ccc;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    text-align: center;
    padding-bottom: 10px;
}
